@charset "utf-8";


:root {
    --font_1: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font_1);
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font_3);
} 

header > p {
    padding-bottom: 50px;
} 

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
    color: white;    
} 

section#img01 {
    background-image: url('imagens/pexels-vjapratama-935835.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.418);
    display: inline-block;
    text-shadow: 1px 1px black;
}

.img-am {
    width: 88vw;
    max-width: 500px;
    margin: 10px;
    box-shadow: 5px 5px 10px black;
}

#meme-ultimo {
    margin-bottom: 90px;
}

.divmeme {
    background-color: white;
}

section.imagem {
    background-color: rgb(43, 41, 41); 
    box-shadow:inset 6px 6px 13px 0px black ; 
    background-attachment: fixed;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}